.dash{
  width: 100%;
  height: 100vh;
  border-radius: 1rem;
  background-image: url('img/background_3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.bg-night{
  background-image: url('img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contenido{
  width: 90%;
  height: 80vh;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url('img/background_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poke_portrait{
  background-color: #eeeeee;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  max-height: 65vh;
  overflow-y: scroll;
}

.stat{
  color: white;
  border-radius: 5rem;
  min-width: 70%;
}

.hab-card{
  background-color: white;
  border-radius: 1rem;
  padding: 5px;
  height: fit-content;
}

.type_index{
  padding: 15px;
  color: white;
  border-radius: 5rem;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader */

.bg-fade{
  background-color: rgba(0, 0, 0, 0.23);
}

.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.loader-content{
  display: flex;
  justify-content: center;
}

.loader-text{
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  border-radius: 5rem;
  margin: 10px 0px;
  width: fit-content;
  padding: 5px 15px;
}

/* Botones */

.nav-btn{
  border-radius: 5rem;
  border: 1px solid white;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 20px;
  color: rgb(255, 255, 255);
  margin: 0px 7px;
  background-color: #eeeeee58;
}

.btn_search{
  padding: 10px;
    color: white;
    border-radius: 5rem;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inputs */

.search{
  width: 80%;
  height: 40px;
  background-color: white;
  border-radius: 5rem;
  padding-left: 10px;
  border: 1px solid rgb(0, 0, 0);
}

/* paddings */

.pl-logo{
  padding-left: 1.5rem !important;
}

/* Widths */

.fit-content{
  width: fit-content;
}

.w-1{
  width: 1%;
}

.w-5{
  width: 15%;
}

.w-10{
width: 10%;
}

.w-15{
width: 15%;
}

.w-20{
width: 20%;
}

.w-30{
width: 30%;
}

.w-40{
width: 40% !important;
}

.w-50{
width: 50%;
}

.w-60{
width: 60%;
}


.w-70{
width: 70%;
}

.w-80{
width: 80%;
}

.w-90{
width: 90%;
}

.w-100{
width: 100%;
}

.overflow-scroll{
  overflow: scroll;
}

/* Heights */

.vh-0{
  height: 0vh;
}

.vh-60{
  height: 70vh;
}

.vh-70{
  height: 70vh;
}

.vh-80{
  height: 80vh;
}

.vh-90{
  height: 90vh;
}

.vh-100{
  height: 100vh;
}

.height-fit{
  height: fit-content;
}

/* IMG's */

.poke_img{
  width: 100%;
  background-image: url('img/pokeball.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mini-img{
  background-color: transparent;
  border-radius: 5rem;
  background-image: url('img/pokeball.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* Scroll bar */

/* barra de scroll */
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
  z-index: 99;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(163, 162, 168, 0); 
 border-radius: 10px;
 z-index: 99;

}
::-webkit-scrollbar-thumb {
 border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(144, 145, 150, 0);
 background-color: rgba(255, 254, 254, 0);
 z-index: 99;

}

/* Textos */

.pokext{
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
  padding: 2px;
  color: white;
}

.bold{
  font-weight: bold;
}

.title-hab{
  font-size: 18px;
  margin-bottom: 0px;
}

.hidden{
  font-size: 22px;
  font-weight: 700;
}

.text_move_name{
  text-align: center;
}

.text_move_pp{
  text-align: center;

}

.text_move_accuracy{
  text-align: center;

}

.text_move_power{
 text-align: center;
}

.text-init{
  text-align: initial !important;
}

/* .text_move_name{
  width: fit-content;
  background-color: #F08030;
  color: white;
  border-radius: 5rem;
  padding: 4px 7px;
  margin: 4px 7px ;
}

.text_move_pp{
  width: fit-content;
  background-color: #6890F0;
  color: white;
  border-radius: 5rem;
  padding: 4px 7px;
  margin: 4px 7px ;

}

.text_move_accuracy{
  width: fit-content;
  background-color: rgb(221 186 48);
  color: white;
  border-radius: 5rem;
  padding: 4px 7px;
  margin: 4px 7px ;

}

.text_move_power{
  width: fit-content;
  background-color: #e74c3c;
  color: white;
  border-radius: 5rem;
  padding: 4px 7px;
  margin: 4px 7px ;
} */

/* Positions */

.relative{
  position: relative;
}

.badge{
  position: absolute;
  border-radius: 5rem;
  top: 20px;
  left: 20px;
}

.badge_poke_card{
  position: absolute;
  border-radius: 5rem;
  left: 10px;
  top: 0px;
  color: white;
  padding: 0px 10px;
  z-index: 3;
  font-size: 18px;
  font-weight: bold;
}

.absolute_types{
  position: absolute;
  right: -10px;
  top: 5px;
}

.badge_types{
  border-radius: 5rem;
  color: white;
  padding: 0px 10px;
  z-index: 3;
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0px;
  text-align: center;
}

/* Bootstrap */

.row{
  padding-right: 0px ;
  padding-left: 0px ;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* Tipos de pokemon  */

/* Tablas */

table{
  width: 100%;
}

td{
  text-align: center;
}

/* media querys */

@media screen and (max-width:420px){

  .search{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 5rem;
    padding-left: 10px;
    border: 1px solid rgb(0, 0, 0);
  }

  .pl-logo{
    padding-left: 0px !important;
  }

  .hide-sm{
    display: none;
  }

  .contenido{
    width: 100%;
    height: 100vh;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('img/background_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .loader-text{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    margin: 10px 0px;
    width: fit-content;
    padding: 5px 15px;
  }

}

@media screen and (min-width:1300px){
  .contenido{
    width: 70%;
    height: 80vh;
    border-radius: 1rem;
    overflow: hidden;
    background-image: url('img/background_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .dash{
    width: 70%;
    height: 80vh;
    border-radius: 1rem;
    background-image: url('img/background_3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }
}